<!doctype html>
<html lang="en">
	<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Deez Notes</title>
	  	<meta charset="utf-8">
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="scripts/bootstrap.min.js"></script>
			<script src="scripts/script.js"></script>
			<script src="scripts/synth.min.js"></script>
			<script type="text/javascript" src="scripts/wildwebmidi.js"></script>
			<script type="text/javascript" src="scripts/midiplayer.js"></script>
			<script type="text/javascript" src="scripts/example-song.js"></script>
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/styles.css"/>
	</head>
	<body>

		<div class="navbar navbar-inverse">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="navbar-header">
					<a href="index" class="brand-logo navbar-brand"><img src="/img/midi.png" width="30" height="3"/></a>
				</div>
				<div class="" id="navbarSupportedContent">
				<ul  class="nav navbar-nav mr-auto">
					<li class="nav-item"><a href="index">Home</a></li>
					<li class="nav-item"><a href="download">Download</a></li>
					<li class="nav-item"><a href="about">About</a></li>
					<li class="nav-item"><a href="management">Management</a></li>
					<li class="nav-item"><a href="https://twitter.com/MidiConverter" target="_blank">Twitter</a></li>
				</ul>
</div>
		</nav>
	</div>
	<div class="container">


		{{{body}}}
</div>
	</body>
</html>
